.content {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.content div {
  flex: 1 1 0;
}

.formWrap {
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-top: 20px;
}

.formBlock {
  display: flex;
}
.formBlock * {
  flex: 1;
  font-size: 16px;
  padding: 0.25em;
  height: 2em;
  border: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.formBlock *:focus {
  outline: none;
}
.formBlock.msgBox * {
  height: 5em;
}

.formBlock input[type='file'] {
  display: none;
}
.btnName {
  background-color: #fff;
  color: #00539c;
  font-weight: 600;
}
.btnDelete {
  background-color: #00539c;
  color: #fff;
  font-weight: 600;
}
