.listWrap {
  margin-top: 20px;
}
.card {
  display: flex;
  border: 1px none;
  border-radius: 20px;
  height: 176px;
  align-items: center;
  box-sizing: content-box;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.3);
}
.card.Light {
}
.card.Dark {
  background-color: #000;
  color: #fff;
}
.card.Colorful {
  background: rgba(179, 220, 237, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(0, 83, 156, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(179, 220, 237, 1)),
    color-stop(50%, rgba(41, 184, 229, 1)),
    color-stop(100%, rgba(0, 83, 156, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(0, 83, 156, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(0, 83, 156, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(0, 83, 156, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(0, 83, 156, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#00539c', GradientType=1 );
}

.image {
  flex: 1;
  margin-right: 30px;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 3;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
}
.company {
  margin: 5px 0;
}

.company::before {
  content: '';
  position: relative;
  top: 25px;
  display: block;
  border: 1px solid #eacb10;
}

.message {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  word-break: break-all;
}
