@value mainWhite, transparentWhite,subWhite,mainBlue,subBlue,mainBlack,mainShadow from '../../common/colors.css';
@value mediaMobile from '../../common/size.css';

.loginForm {
  width: 80vw;
  min-width: 78.125rem;
  height: 100vh;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title,
.footer {
  /* background-color: #204938; */
  background-color: mainBlue;
  color: subWhite;
  padding: 10px 0;
}
.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.title div:nth-child(1) {
  flex: 1 1 0;
}

.guest {
  position: absolute;
  left: 50px;
  padding: 5px;
}
.controlBtn {
  position: absolute;
  right: 24px;
}

.add {
  font-size: 1em;
  background-color: mainBlue;
  color: mainWhite;
  border: 2px solid subWhite;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
}

.signOut {
  font-size: 1em;
  background-color: mainBlue;
  color: mainWhite;
  border: 2px solid subWhite;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.signOut:hover {
  background-color: transparentWhite;
  color: mainBlack;
}

.content {
  display: flex;
  background-color: subWhite;
  justify-content: space-around;
  height: 100%;
  overflow: auto;
}
.content h1 {
  margin: 15px 0;
}
.content > div {
  padding: 0 30px;
}
/* .content::before {
  content: '';
  position: absolute;
  border: 1px dashed #80808082;
  height: auto;
  bottom: 41px;
  top: 84px;
  box-sizing: border-box;
}
 */
.footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: mediaMobile) {
  .loginForm {
    width: 100vw;
    min-width: unset;
  }
  .title {
    flex-direction: column;
    align-items: initial;
  }
  .content {
    overflow: hidden;
    flex-direction: column;
  }
  .content > div {
    overflow: auto;
  }
  .guest {
    position: static;
    left: unset;
  }
  .controlBtn {
    position: static;
    right: unset;
    padding-top: 0.8rem;
  }
}
