.loginForm {
  width: 80vw;
  height: 100vh;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title,
.footer {
  /* background-color: #204938; */
  background-color: #00539c;
  color: #f3f3f3;
  padding: 10px 0;
}
.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.title div:nth-child(1) {
  flex: 1 1 0;
}

.controlBtn {
  position: absolute;
  right: 24px;
}

.add {
  font-size: 1em;
  background-color: #00539c;
  color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
}

.signOut {
  font-size: 1em;
  background-color: #00539c;
  color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.signOut:hover {
  background-color: #9cc3d5;
  color: #000000;
}

.content {
  display: flex;
  background-color: #f3f3f3;
  justify-content: space-around;
  height: 100%;
  overflow: auto;
}
.content h1 {
  margin: 15px 0;
}
.content > div {
  padding: 0 30px;
}
.content::before {
  content: '';
  position: absolute;
  border: 1px dashed #80808082;
  height: auto;
  bottom: 41px;
  top: 84px;
  box-sizing: border-box;
}

.footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1350px) {
  .content {
    overflow: hidden;
    flex-direction: column;
  }
  .content > div {
    overflow: auto;
  }
  .content::before {
    display: none;
  }
}
