.loginForm {
  width: 80vw;
  cursor: default;
}

.title,
.footer {
  /* background-color: #204938; */
  background-color: #00539c;
  color: #f3f3f3;
  padding: 10px 0;
}
.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: flex-end;
}
.title div:nth-child(1) {
  flex: 1 1 0;
}
.title h1 {
  padding-left: 4.4rem;
}

.add {
  font-size: 1em;
  background-color: #00539c;
  color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
}

.signOut {
  font-size: 1em;
  background-color: #00539c;
  color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.signOut:hover {
  background-color: #9cc3d5;
  color: #000000;
}

.content {
  display: flex;
  background-color: #f3f3f3;
  justify-content: space-around;
}
.content h1 {
  margin: 15px 0;
}

.footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
