@value mainLightGrey from '../../common/colors.css';
@value mediaMobile from '../../common/size.css';

.wrap {
  flex-basis: 50%;
  border-right: 1px dashed mainLightGrey;
}

.title {
  margin-top: 30px;
}

.list {
  list-style: none;
  padding-bottom: 30px;
}

@media screen and (max-width: mediaMobile) {
  .wrap {
    border-right: none;
    border-bottom: 1px dashed mainLightGrey;
  }
}
