.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000005a;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner {
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  width: 360px;
  max-width: 480px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  border: 3px solid #dce6f0;
  border-radius: 50%;
  border-top-color: #00539c;
  animation: spin 1s ease-in-out infinite;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
